SQL_HOST=
SQL_USER=
SQL_DB=
SQL_PASSWORD=
NODE_ENV=production
JWT_PASS=jwt_pass

MAIL_USER_NAME=mncardio@telemedicine.mn
MAIL_USER_PASS=4f7fe24e095
ALLFILE_DIR1=/home/admin630/upload_files/
ALLFILE_DIR=C:/MnCardioFiles/
CLIENT_APP_URL=https://smr.telemedicine.mn/
SSL=false
ALL_MODEL_DIR=C:/Users/ItSystem/Documents/GitHub/MnCardioBackEnd/model
